body {
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.font-mini { font-size: 80%; text-align: center; }
.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}
