<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:red">Loser</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control"
            id="dependerNames"
            ng-model="models.loser"
            placeholder="Loser 조합을 적어주세요.">
        </div>
        <div class="col-md-6" style="top:10px">
          <hero-row ng-model="models.loser" css="pull-left" size="32px"></hero-row>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:green">Winner</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control"
                 id="attackerNames"
                 ng-model="models.winner"
                 placeholder="Winner 조합을 넣어주세요.">
        </div>
        <div class="col-md-6" style="top:10px">
          <hero-row ng-model="models.winner" css="pull-left" size="32px"></hero-row>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="buttons.save()">저장</button>
