<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">검색</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="pull-right">

        </div>
      </div>
      <div class="col-md-4">
        <hero-row ng-model="models.names" size="24px" css="pull-right"></hero-row>
      </div>
      <div class="col-md-4">
        <input type="text" ng-model="models.names" class="form-control"/>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-default btn-lg btn-block" ng-click="buttons.moveToAdd()">추가</button>
<br/>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">아래나 결과</div>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <td>방어측</td>
        <td>공격측</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in models.items | dependerFilter: models.names">
        <td><hero-row ng-model="item.name" size="48px" css="pull-left"></hero-row></td>
        <td>
          <div ng-repeat="d in item.attackers">
            <hero-row ng-model="d.name" size="32px" css="pull-right"></hero-row>
            <br style="clear: both;"/>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
