<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">검색(Loser 기준으로 검색됩니다.)</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="pull-right">

        </div>
      </div>
      <div class="col-md-4">
        <hero-row ng-model="models.names" size="24px" css="pull-right"></hero-row>
      </div>
      <div class="col-md-4">
        <input type="text" ng-model="models.names" class="form-control" placeholder="영웅을 약어로 적어주세요."/>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-default btn-lg btn-block" ng-click="buttons.moveToAdd()">추가</button>
<br/>

<div class="panel panel-primary" ng-show="models.items.length == 0">
  <div class="panel-heading">검색된 결과가 없습니다.</div>
</div>

<div class="panel panel-primary" ng-repeat="item in models.items">
  <div class="panel-heading">{{item.username}} ({{item.date | date: 'yyyy-MM-dd HH:mm'}})</div>
  <div class="panel-body">
    <table class="table">
      <colgroup>
        <col width="50px"></col>
      </colgroup>
      <tbody>
        <tr style="background-color:#FAB6C5">
          <td>loser</td>
          <td><hero-row ng-model="item.loser" size="36px" css="pull-left"></hero-row></td>
        </tr>
        <tr style="background-color:#B6D7FA">
          <td>winner</td>
          <td><hero-row ng-model="item.winner" size="36px" css="pull-left"></hero-row></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-default btn-block" ng-click="buttons.like(item)">
          <span class="glyphicon glyphicon-thumbs-up"></span> 좋아요 <span class="badge">{{item.score}}</span>
        </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-default btn-block" ng-click="buttons.unlike(item)">
          <span class="glyphicon glyphicon-thumbs-down"></span> 싫어요
        </button>
      </div>
    </div>

  </div>
</div>
